{% extends 'base.html.twig' %}

{% block title %}Hello ServicesController!{% endblock %}

{% block body %}

    <section class="employers">
    <div class="table-responsive" id="sailorTableArea">
        <table id="sailorTable" class="table table-striped table-bordered" width="100%">
            <thead class="thead-dark">
                <tr>
                   
                    <th scope="col">Numero du service</th>
                    <th scope="col">Libelle</th>
                    <th scope="col">Modifier</th>
                  
                </tr>
            </thead>
            <tbody>  
                {% for services in services  %}
                    <tr>
                        <td>{{services.id}}</td>
                        <td>{{services.libelle}}</td>
                        <td><a href="{{path('employer_edit', {'id' : services.id})}}" class="btn btn-success">Modifier</a> </td>
                    </tr>
                    <br>
                {% endfor %}

            </tbody>
        </table>
    </div>
</section>

{% endblock %}
